services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
    networks:
      - proxy

  acme-companion:
    image: nginxproxy/acme-companion
    container_name: nginx-proxy-acme
    depends_on:
      - nginx-proxy
    environment:
      - DEFAULT_EMAIL=anotherprince19@gmail.com
      - NGINX_PROXY_CONTAINER=nginx-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./certs:/etc/nginx/certs:rw
      - ./acme:/etc/acme.sh
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
    networks:
      - proxy

  backend:
    build: ./backend
    container_name: mern-backend
    expose:
      - "5000"
    environment:
      - VIRTUAL_HOST=mernpracticeapp.sytes.net
      - LETSENCRYPT_HOST=mernpracticeapp.sytes.net
      - LETSENCRYPT_EMAIL=anotherprince19@gmail.com
    networks:
      - proxy
      - internal

  frontend:
    build: ./frontend
    container_name: mern-frontend
    expose:
      - "80"
    environment:
      - VIRTUAL_HOST=mernpracticeapp.sytes.net
      - LETSENCRYPT_HOST=mernpracticeapp.sytes.net
      - LETSENCRYPT_EMAIL=youremail@example.com
    networks:
      - proxy
      - internal

  mongo:
    image: mongo:latest
    container_name: mern-mongo
    volumes:
      - mongo_data:/data/db
    networks:
      - internal

volumes:
  mongo_data:

networks:
  proxy:
  internal: